body,html,#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(227, 227, 227);
  color: #000000;
  line-height: 1.7;
  letter-spacing: 0.5px; 
}


@media (max-width: 768px) {
  body {
      font-size: 16px;
  }
}