.wrapper {
    width: 84%;
    height: 650px;
    margin: 0 auto;
    overflow: auto; /* Дозволяє прокручувати вміст*/
    border: 5px solid #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.map-container {
    display: grid;
    grid-template-columns: repeat(100, 80px);
    grid-template-rows: repeat(100, 80px);
    grid-gap: 1px;
}

.map-cell {
    background-color: #4CAF50;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
    width: 80px;
    height: 80px;  
    position: relative; 
}

.map-container .map-cell img {
    width: 80px;
    height: 80px;  
}

.map-cell:hover {
    background-color: #00bfff;
}

.cell-btn {
    background-color: #000000; 
    color: white; 
    border: none; 
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 8px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: background-color 0.1s;
    display: none;
}

.cell-btn:hover {
    background-color: #45a049; 
}

.map-cell:hover .cell-btn {
    display: block;
}

h1 {
    font-size: 36px; 
}

.zagolovki {
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px #f06400;
    padding: 15px;
    max-width: 500px; 
    width: 100%; 
    margin: 80px auto 20px auto;
    color: #f06400; 
}

#construction {
    text-align: center;
}

form {
    width: 84%;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #f06400;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

form label {
    font-weight: 600;
    color: #000000;
    margin-bottom: 8px;
    font-size: 26px;
    padding-top: 20px;
}

.image-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: auto; 
    max-width: 100%;
    align-items: center;
}

.image-options input {
    display: none;
}

.image-options img {
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.image-options input:checked + img {
    border-color: #f06400;
    box-shadow: 0 0 10px #f06400;
    transform: scale(1.07);
}

form select, form input {
    width: 40%;
    padding: 10px;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form select {
    cursor: pointer;
}

form button {
    background-color: #4CAF50;
    width: 40%;
    color: white;
    padding: 12px;
    margin-top: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: 3px solid rgb(25, 130, 27);
    border-radius: 6px;
    cursor: pointer;
    font-size: 40px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form button:hover {
    background-color: #45a049;
    transform: scale(1.03);
}

form button:active {
    transform: scale(1);
}

@media (max-width: 768px) {
    .zagolovki {
        font-size: 24px;
        padding: 5px;
        max-width: 60%;
    }
   
    .wrapper {
        width: 80%;
        height: 500px;
    }

    .map-container {
        grid-template-columns: repeat(100, 50px);
        grid-template-rows: repeat(100, 50px);
    }

    .map-cell {
        width: 50px;
        height: 50px;
    }
    
    .map-container .map-cell img {
        width: 50px;
        height: 50px;  
    }
    
    form {
        width: 80%;
        padding: 20px;
    }

    .form-group label {
        font-size: 20px;
    }

    form select,
    form input {
        width: 80%;
        font-size: 18px;
    }

    form button {
        width: 80%;
        font-size: 24px;
    }

    .image-options img {
        width: 80px;
        height: 80px;
    }
}